<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<mapping class="com.terabyte.stockmanager.model.Product"/>
		<mapping class="com.terabyte.stockmanager.model.Person"/>
		<mapping class="com.terabyte.stockmanager.model.User"/>
		<mapping class="com.terabyte.stockmanager.model.Authority"/>	
		<mapping class="com.terabyte.stockmanager.model.Client"/>
		<mapping class="com.terabyte.stockmanager.model.Job"/>
		<!-- <mapping class="com.terabyte.stockmanager.model.Device"/>  -->
		<!-- <mapping class="com.terabyte.stockmanager.model.JobDetail"/> -->
		<!-- <mapping class="com.terabyte.stockmanager.model.ProductItem"/>	-->						
    </session-factory>
</hibernate-configuration>